<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ERP | Register</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}"/>
  <script>
    function check(){
      var a=document.form.pass1.value;
      var b=document.form.pass2.value;
      if(a!=b)
      {
        alert("Passwords must be same!!!");
      }
    }
  </script>
</head>
<body>
<div class="login-page">
  <div class="form">
<form action="/manager/update/" method="post" class="login-form" name="form" onsubmit="check()">
  {% csrf_token %}
<input class="i1" type="text" name="name1" id="name" required="required" placeholder="Enter first name">
<input class="i2" type="text" id="name2" name="name2" required="required" placeholder="Enter last name"><br>
<input class="i1" type="password" name="pass1" id="pass1" required="required" placeholder="Enter password" maxlength="20">
  <input class="i2" type="text" name="pass2" id="pass2" required="required" placeholder="Confirm Password" maxlength="20" onblur="check()">
<div style="width:644px;vertical-align: center;text-align: left;padding: 15px;margin-left: 40px"><input type="radio" name="sex" value="male" checked="checked">Male<input type="radio" name="sex" value="Female" style="margin-left: 300px">Female</div><br>
<input class="i1" type="number" required="required" placeholder="Enter Aadhaar number" max="999999999999" name="aadhaar">
<input class="i3" type="text" value="+91" readonly="readonly">
<input class="i5" type="number" name="mobile" id="mobile" required="required" placeholder="Enter your mobile no." min="7000000000" max="9999999999"><br>
<input class="i1" type="text" name="pname" id="parent" required="required" placeholder="Enter father's/mother's name">
<input class="i2" type="number" name="pmobile" id="parentmobile" required="required" placeholder="Enter father's/mother's mobile no." min="7000000000" max="9999999999"><br>
<input class="i1" type="text" required="required" placeholder="Address line 1" name = "ad1">
<input class="i2" type="text" required="required" placeholder="Address line 2" name = "ad2"><br>
<input class="i1" type="text" required="required" placeholder="Enter city" name = "city">
<input class="i2" type="number" id="pincode" required="required" placeholder="Enter your pincode" max="999999" name = "pin"><br>
<button type="submit">Submit</button>
</form>
</div>
</div>
</body>
</html>